body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons{
	text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin: 10px 0;
}

button.update, button.cancel {
  margin-right: 10px;
}
